
.DS_Store
.gitignore
.gitattributes
T2mapp.prj
T2mapp/
T2mapp_resources/
functions/import/Get_mrd_3D4.m
manual/T2mapp - manual.pages
functions/export/niftii/dicm2nii.m
functions/export/niftii/dicm_dict.m
functions/export/niftii/dicm_hdr.m
functions/export/niftii/dicm_img.m
functions/export/niftii/dicm_save.m
functions/export/niftii/nii_tool.m
functions/export/niftii/nii_viewer.m
functions/export/niftii/nii_xform.m
functions/various/rotx.m
functions/various/roty.m
functions/various/rotz.m
backup/
status.md
/tests
gui/adapters/gatherRecoParams.m
gui/adapters/gatherRegParams.m
gui/adapters/gatherFitParams.m
@t2Data/t2Data.m
gui/adapters/gatherDisplayParams.m
+t2mapp/+fit/apply_threshold_t2.m
+t2mapp/+fit/dotheT2fit2D.m
+t2mapp/+fit/dotheT2fitSingle.m
+t2mapp/+fit/dothemobaT2fit2D.m
+t2mapp/+fit/dothemobaT2fit3D.m
+t2mapp/+fit/dothemobaT2starfit2D.m
+t2mapp/+fit/dothemobaT2starfit3D.m
+t2mapp/+fit/monoExpFit.m
+t2mapp/+fit/waterFatImagesMethod1.m
+t2mapp/+io/defaultSettings.m
+t2mapp/+io/estimatedEchoSpacing.m
+t2mapp/+io/exportBidsFcn.m
+t2mapp/+io/exportDicomT2.m
+t2mapp/+io/exportDicomT2dcm.m
+t2mapp/+io/exportGifT2.m
+t2mapp/+io/exportNiftiFcn.m
+t2mapp/+io/importB.m
+t2mapp/+io/makeLogFile.m
+t2mapp/+io/pruneLogFiles.m
+t2mapp/+io/readNonRegularLUT.m
+t2mapp/+io/readRPRfile.m
+t2mapp/+io/readSettingsFile.m
+t2mapp/+io/retiredSettings.m
+t2mapp/+io/scannerDicomCandidates.m
+t2mapp/+io/scannerEchoTimes.m
+t2mapp/+io/sortNonRegularLUT3D.m
+t2mapp/+io/userFolder.m
+t2mapp/+reco/voxelSizeOf.m
+t2mapp/+reco/mppcaWindow.m
+t2mapp/+reco/mppcaDenoise.m
+t2mapp/+reco/CSreco.m
+t2mapp/+reco/PCAdenoise.m
+t2mapp/+reco/circtukey2D.m
+t2mapp/+reco/circtukey3D.m
+t2mapp/+reco/fft2reco.m
+t2mapp/+reco/fft3reco.m
+t2mapp/+reco/fftReco.m
+t2mapp/+reco/ifft2reco.m
+t2mapp/+reco/ifft3reco.m
+t2mapp/+reco/registerImages.m
+t2mapp/+reco/registerImagesBart.m
+t2mapp/+util/bartVersionAtLeast.m
+t2mapp/+util/dicomOrientation.m
+t2mapp/+util/elastixBundle.m
+t2mapp/+util/hex2rgb.m
+t2mapp/+util/imagePosition.m
+t2mapp/+util/maskElement.m
+t2mapp/+util/naviaColorMap.m
+t2mapp/+util/patientPosition.m
+t2mapp/+util/pixelSize.m
+t2mapp/+util/resourcePath.m
+t2mapp/+util/rgb2hex.m
+t2mapp/+util/robustDisplayMax.m
+t2mapp/+util/sliceSpacing.m
+t2mapp/+util/useBundledElastix.m
+t2mapp/ConsoleReporter.m
+t2mapp/Constants.m
+t2mapp/Reporter.m
+t2mapp/defaultDisplayParams.m
+t2mapp/defaultFitParams.m
+t2mapp/defaultRecoParams.m
+t2mapp/defaultRegParams.m
gui/adapters/AppReporter.m

# Third-party code, P-coded on 2026-09-15 like the rest: the BART interface, the
# elastix registration tools, unRing and the water/fat wfutils1 code, including the
# old-style @B and @Bspline classes. The .p beside each ships; the .m stays local.
functions/registration/registration_tools/code/changeParameterInElastixFile.m
functions/registration/registration_tools/code/elastix.m
functions/registration/registration_tools/code/elastixYAML2struct.m
functions/registration/registration_tools/code/elastix_paramStruct2txt.m
functions/registration/registration_tools/code/elastix_parameter_read.m
functions/registration/registration_tools/code/elastix_parameter_write.m
functions/registration/registration_tools/code/invertElastixTransform.m
functions/registration/registration_tools/code/mhd_read.m
functions/registration/registration_tools/code/mhd_read_header.m
functions/registration/registration_tools/code/mhd_read_volume.m
functions/registration/registration_tools/code/mhd_write.m
functions/registration/registration_tools/code/readTransformedPointsFile.m
functions/registration/registration_tools/code/readWholeTextFile.m
functions/registration/registration_tools/code/struct2varargin.m
functions/registration/registration_tools/code/transformix.m
functions/registration/registration_tools/code/updateTransformFileDirFields.m
functions/registration/registration_tools/code/validateElastixParam.m
functions/registration/registration_tools/code/writePointsFile.m
functions/unRing/unRing.m
functions/bart/WSLPathCorrection.m
functions/bart/bart.m
functions/bart/readcfl.m
functions/bart/writecfl.m
functions/waterfat/wfutils1/SDS_BSpline_Basis.m
functions/waterfat/wfutils1/SDS_Create_BSpline.m
functions/waterfat/wfutils1/calculate_chemical_shift_encoding_matrix.m
functions/waterfat/wfutils1/coilCombine.m
functions/waterfat/wfutils1/error_check.m
functions/waterfat/wfutils1/estimate_water_fat.m
functions/waterfat/wfutils1/fnlCg.m
functions/waterfat/wfutils1/fw3pluspoint.m
functions/waterfat/wfutils1/init.m
functions/waterfat/wfutils1/update_field_map.m
functions/waterfat/wfutils1/@Bspline/Bspline.m
functions/waterfat/wfutils1/@Bspline/Overlap_Wavelet.m
functions/waterfat/wfutils1/@Bspline/ctranspose.m
functions/waterfat/wfutils1/@Bspline/mtimes.m
functions/waterfat/wfutils1/@B/B.m
functions/waterfat/wfutils1/@B/ctranspose.m
functions/waterfat/wfutils1/@B/mtimes.m
